@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #292f33;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/home3-bg.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  padding: 20px 10%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 400%;
  margin-left: 4rem;
}
.logo span {
  color: #ffae00;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 50px 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffae00;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
}

.header-text h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.3;
}

.header-text h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-top: 20px;
}

.header-text p {
  font-size: 1.6rem;
  margin-top: 15px;
}

.header-text span {
  color: #ffae00;
}

.container .social-media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid #ffae00;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem #ffae00;
  font-size: 2rem;
  color: #ffae00;
  margin: 2.5rem 1.5rem 3rem 0;
  text-decoration: none;
  transition: 0.5s ease;
}

.container .social-media a:hover {
  background: #ffae00;
  color: #fff;
}

/*======ABOUT=====*/
.about-image {
  height: 399px;
  width: 1580px;
  background-image: url("../img/about--final.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about2-image {
  height: 400px;
  width: 1700px;
  background-image: url("../img/about2-final.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about3-image {
  height: 400px;
  width: 1935px;
  background-image: url("../img/about3-final.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about2-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffae00;
}

.about-text {
  height: 400px;
  padding: 70px 70px 70px 70px;
}

.about-text h3 {
  padding-bottom: 50px;
}

.about-text p {
  line-height: 2rem;
  padding-bottom: 50px;
}

.about-text .read-more-button {
  text-decoration: none;
  border: 2px solid #ffae00;
  color: #ffae00;
  padding: 1rem;
  box-shadow: 0 0.2rem 0.5rem #ffae00;
  transition: 0.5s ease;
}
.about-text .read-more-button2 {
  text-decoration: none;
  border: 2px solid #292f33;
  color: #292f33;
  padding: 1rem;
  box-shadow: 0 0.2rem 0.5rem #292f33;
  transition: 0.5s ease;
}

.about-text .read-more-button:hover {
  background: #ffae00;
  color: #292f33;
}

.about-text .read-more-button2:hover {
  background: #292f33;
  color: #ffae00;
}

/*==============HOBBY================*/

.sub-title {
  font-size: 4rem;
}

#hobby {
  padding: 30px 0;
}

.hobby-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.hobby-list div {
  background: #333b40;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.hobby-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.hobby-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.hobby-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.hobby-list div:hover {
  background: #ffae00;
  transform: translateY(-10px);
}
/*==========================TRAVELLING=====================*/

.box {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#travelling .sub-title {
  padding: 10px 10% 50px;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}
/*css for manual navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #ffae00;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #ffae00;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}
/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #ffae00;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #ffae00;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #ffae00;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #ffae00;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #ffae00;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: #ffae00;
}

/*====================CONTACT============================*/

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #fff;
  background: #292f33;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.1rem 0.5rem #fff;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .contact-btn {
  margin-top: 2rem;
  background: #ffae00;
  color: #fff;
  padding: 1rem;
  border: 2px solid #ffae00;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 0.2rem 0.5rem #ffae00;
  cursor: pointer;
}

.contact form .contact-btn:hover {
  background: #fff;
  color: #ffae00;
}

.contact .container {
  margin-top: 50px;
}

.contact .container h1 {
  margin-bottom: 30px;
}

.contact .container .sub-title span {
  color: #ffae00;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background-color: #333b40;
}

.footer-text p {
  color: #fff;
  font-size: 1.2rem;
}

.footer-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background-color: #ffae00;
  border-radius: 0.8rem;
  border: 0.2rem solid #ffae00;
  text-decoration: none;
}

.footer-icon a i {
  font-size: 2.4rem;
  color: #fff;
}
